<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/DailyReportSystem/login.css}">
</head>
<header>
    <nav class="global_navi">
        <ul>
        <li>日報管理システム</li>
        </ul>
    </nav>
</header>
<body>
    <h1>ログイン</h1>
    <p class="err" th:if="${param.error}">ユーザー名かパスワードが一致しませんでした</p>
    <form method="post" action="/login" th:action="@{/login}">


            <label for="loginuser" class="form">社員番号</label>
            <input type="text" id="username" name="username" >

            <br>
            <label for="password" class="form">パスワード</label>
            <input type="password" id="password" name="password" >

            <br>
            &nbsp;
            <input type="submit" name="loginRun" value="ログイン" class="form">
            <br>

    </form>
</body>
</html>