<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/DailyReportSystem/toppage.css}">
</head>
<header>
    <nav class="global_navi">
        <ul>
        <li><a th:href="@{/}" th:text="日報管理システム" ></a></li>
        <li><a th:href="@{/employee/employeelist/}" th:text="従業員管理" th:if="${userroll} == '管理者'"></a></li>
        <li><a th:href="@{/report/reportlist/}" th:text="日報管理"></a></li>
        <li><a th:href="@{/timecard/}" th:text="勤怠管理"></a></li>
        <li th:text="${username}+' さん'"></li>
        <li><form method="post" th:action="@{/logout}" ><input type="submit" value="ログアウト" class="logout"></form></li>
        </ul>
    </nav>

</header>
<body>
    <h1>日報管理システムへようこそ</h1>
    <h2>[自分の日報　一覧]</h2>

    <table>
        <tr>
            <th>氏名</th>
            <th>日付</th>
            <th>タイトル</th>
            <th>操作</th>
        </tr>
        <tr th:each="report : ${reportlist}">
            <td th:text="${report.employee.name}"></td>
            <td th:text="${report.reportDate}"></td>
            <td th:text="${report.title}"></td>
            <td> <a th:href="@{/report/reportdetail/{id}/(id=${report.id})}" th:text="詳細を見る"></a></td>
        </tr>
    </table>
    <p　th:text="'（全'+${index}+'件）'"></p>
    <a th:href="@{/report/reportregister}"　th:text="新規日報の登録"></a>
</body>
</html>