<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/DailyReportSystem/employee/employeeupdate.css}">
</head>
<header>
    <nav class="global_navi">
        <ul>
        <li><a th:href="@{/}" th:text="日報管理システム" ></a></li>
        <li><a th:href="@{/employee/employeelist/}" th:text="従業員管理" th:if="${userroll} == '管理者'"></a></li>
        <li>日報管理</li>
        <li th:text="${username}+' さん'"></li>
        <li><form method="post" th:action="@{/logout}" ><input type="submit" value="ログアウト" class="logout"></form></li>
        </ul>
    </nav>

</header>
<body>
    <h1>日報管理システムへようこそ</h1>

</body>
</html>