<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/DailyReportSystem/employee/employeeupdate.css}">
</head>
<header>
    <nav class="global_navi">
        <ul>
        <li><a th:href="@{/}" th:text="日報管理システム" ></a></li>
        <li><a th:href="@{/employee/employeelist/}" th:text="従業員管理" ></a></li>
        <li>日報管理</li>
        <li>氏名 さん</li>
        <li><form method="post" th:action="@{/logout}" ><input type="submit" value="ログアウト" class="logout"></form></li>
        </ul>
    </nav>
</header>
<body>
    <h1 th:text="'ID:'+${employee.id}+'の従業員情報　編集ページ'"></h1>
    <p>(パスワードは変更する場合のみ入力してください)</p>


        <form method="post" th:action="@{/employee/employeeupdate/{id}/(id=${employee.id})}" th:object="${employee}" class="update_form">
            <label for="code" class="form">社員番号</label>
            <input type="text" th:field="*{authentication.code}" readonly>
            <span th:errors="*{authentication.code}" class="err"　></span>
            <br>
            <label for="name" class="form">氏名</label>
            <input type="text" th:field="*{name}" >
            <span th:errors="*{name}" class="err"></span>
            <br>
            <label for="password" class="form">パスワード</label>
            <input type="password" name="password" >
            <br>
            <label for="role" class="form">権限</label>
            <select th:field="*{authentication.role}">
                <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}"
                                        th:value="${item}" th:text="${item}">
            </select>
            <br>
            <input type="submit" value="投稿" class="form">
            <br>
            <a th:href="@{/employee/employeedelete/{id}/(id=${employee.id})}" th:text="この従業員情報を削除する"></a>
            <br>
            <a th:href="@{/employee/employeelist}" th:text="一覧に戻る"></a>
    </form>

</body>
</html>