<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/DailyReportSystem/employeedetail.css}">
</head>
<body>
    <h1 th:text="従業員情報詳細ページ"></h1>
    <table>
        <tr>
            <th>社員番号</th>
            <th th:text="${employeedetail.authentication.code}"></th>
        </tr>

        <tr>
            <th>氏名</th>
            <th th:text="${employeedetail.name}"></th>
        </tr>

        <tr>
            <th>権限</th>
            <th th:text="${employeedetail.authentication.role}"></th>
        </tr>

        <tr>
            <th>登録日時</th>
            <th th:text="${#temporals.format(employeedetail.createdAt,'yyyy/MM/dd HH:mm:ss')}"></th>
        </tr>

        <tr>
            <th>更新日時</th>
            <th th:text="${#temporals.format(employeedetail.updateAt,'yyyy/MM/dd HH:mm:ss')}"></th>
        </tr>
    </table>
    <p th:text="この従業員を編集する"></p>
    <a th:href="@{/employee/employeelist}" th:text="一覧に戻る"></a>
</body>
</html>