<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/DailyReportSystem/employee/employeedetail.css}">
</head>
<header>
    <nav class="global_navi">
        <ul>
        <li><a th:href="@{/}" th:text="日報管理システム" ></a></li>
        <li><a th:href="@{/employee/employeelist/}" th:text="従業員管理" th:if="${userroll} == '管理者'"></a></li>
        <li>日報管理</li>
        <li th:text="${username}+' さん'"></li>
        <li><form method="post" th:action="@{/logout}" ><input type="submit" value="ログアウト" class="logout"></form></li>
        </ul>
    </nav>
</header>
<body>
    <h1 th:text="'id:'+${employeedetail.id}+'の従業員情報詳細ページ'"></h1>
    <table class="detail_table">
        <tr>
            <th>社員番号</th>
            <td th:text="${employeedetail.authentication.code}"></td>
        </tr>

        <tr>
            <th>氏名</th>
            <td th:text="${employeedetail.name}"></td>
        </tr>

        <tr>
            <th>権限</th>
            <td th:text="${employeedetail.authentication.role}"></td>
        </tr>

        <tr>
            <th>登録日時</th>
            <td th:text="${#temporals.format(employeedetail.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>

        <tr>
            <th>更新日時</th>
            <td th:text="${#temporals.format(employeedetail.updatedAt,'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
    <a th:href="@{/employee/employeeupdate/{id}/(id=${employeedetail.id})}" th:text="この従業員情報を編集する"></a>
    <br>
    <a th:href="@{/employee/employeelist}" th:text="一覧に戻る"></a>
</body>
</html>