<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/DailyReportSystem/employee/reportdetail.css}">
</head>
<header>
    <nav class="global_navi">
        <ul>
        <li><a th:href="@{/}" th:text="日報管理システム" ></a></li>
        <li><a th:href="@{/employee/employeelist/}" th:text="従業員管理" th:if="${userroll} == '管理者'"></a></li>
        <li><a th:href="@{/report/reportlist/}" th:text="日報管理"></a></li>
        <li><a th:href="@{/timecard/}" th:text="勤怠管理"></a></li>
        <li><a th:href="@{/customer/}" th:text="顧客情報"></a></li>
        <li th:text="${username}+' さん'"></li>
        <li><form method="post" th:action="@{/logout}" ><input type="submit" value="ログアウト" class="logout"></form></li>
        </ul>
    </nav>
</header>
<body>
    <h1 th:text="'日報 詳細ページ'"></h1>
    <table class="detail_table">
        <tr>
            <th>氏名</th>
            <td th:text="${report.employee.name}"></td>
        </tr>

        <tr>
            <th>顧客名</th>
            <td th:text="${report.customer.name}"></td>
        </tr>
        <tr>
            <th>商談状況</th>
            <td th:text="${report.status}"></td>
        </tr>
        <tr>
            <th>日付</th>
            <td th:text="${report.reportDate}"></td>
        </tr>
        <tr>
            <th>タイトル</th>
            <td th:text="${report.title}"></td>
        </tr>
        <tr>
            <th>内容</th>
            <td><pre>[[${report.content}]]</pre></td>
        </tr>
        <tr>
            <th>登録日時</th>
            <td th:text="${#temporals.format(report.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>

        <tr>
            <th>更新日時</th>
            <td th:text="${#temporals.format(report.updatedAt,'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>

        <tr >
            <th>承認</th>
            <td th:text="未承認" th:if="${userroll!='課長' && report.authentication==0}"></td>
            <td th:text="承認済み" th:if="${userroll!='課長' && report.authentication==1}"></td>
            <td th:if="${userroll=='課長' && report.authentication==0}"><a th:href="@{/report/reportapproval/{id}/(id=${report.id})}" th:text="承認する"></a></td>
            <td th:if="${userroll=='課長' && report.authentication==1}" ><a th:href="@{/report/reportapproval/{id}/(id=${report.id})}" th:text="承認を取り消す"></a></td>
        </tr>
    </table>
        <form method="post" th:action="@{/report/reportnice/{id}/(id=${report.id})}"  class="report_form">
        <input type="submit" th:value="'いいね('+${report.nice}+'件)'" class="form">
    <br>
        <a th:href="@{/follow/saveFollower/{id}/(id=${report.employee.id})}" th:text="フォローする" th:if="${userid} != ${report.employee.id} and ${follow}!=true"></a>
        <a th:href="@{/follow/cancelFollower/{id}/(id=${report.employee.id})}" th:text="フォロー解除する" th:if="${userid} != ${report.employee.id} and ${follow}==true"></a>
        <a th:href="@{/report/reportupdate/{id}/(id=${report.id})}" th:text="この日報を編集する" th:if="${report.employee.id} == ${userid}"></a>
    <br>
    <a th:href="@{/report/reportlist}" th:text="一覧に戻る"></a>
</body>
</html>