<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/DailyReportSystem/employee/reportregister.css}">
</head>
<header>
    <nav class="global_navi">
        <ul>
        <li><a th:href="@{/}" th:text="日報管理システム" ></a></li>
        <li><a th:href="@{/employee/employeelist/}" th:text="従業員管理" th:if="${userroll} == '管理者'"></a></li>
        <li><a th:href="@{/report/reportlist/}" th:text="日報管理"></a></li>
        <li><a th:href="@{/timecard/}" th:text="勤怠管理"></a></li>
        <li th:text="${username}+' さん'"></li>
        <li><form method="post" th:action="@{/logout}" ><input type="submit" value="ログアウト" class="logout"></form></li>
        </ul>
    </nav>
</header>
<body>
    <h1>日報　編集ページ</h1>

          <form method="post" th:action="@{/report/reportupdate/{id}/(id=${report.id})}"  th:object="${report}" class="report_form">
          <label for="Date" class="form">日付</label>
            <input type="date" name="reportDate" th:value="${reportdate}" th:max="${reportdate}">
            <span th:errors="*{reportDate}" class="err"></span>
            <p>氏名<br>[[${username}]]</p>
          <label for="title" class="form">タイトル</label>
            <input type="text" th:field="*{title}">
             <span th:errors="*{title}" class="err"></span>
            <br>
          <label for="content" class="form">内容 <span th:errors="*{content}" class="err"></span></label>
            <textarea id="content" name="content" th:text="*{content}"></textarea>
            <br>
            <input type="submit" value="投稿"  class="form">
            <br>
            <a th:href="@{/report/reportlist}" th:text="一覧に戻る"></a>
    </form>

</body>
</html>